:root{
    --bg-color:#080808;
    --second-bg-color:#1d0000;
    --text-color:#ffff;
    --main-color:#f60b0b;
}
/*Project*/
.projects{
    background: var(--second-bg-color);
    background-size:cover;
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin: 5rem 0;
    gap: 3rem;
    row-gap: 5rem;
}
.project-card{
    height: 500px;
    max-width: 370px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(30px);
    border:2px solid var(--main-color);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.4s ease;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.project-card img{
    height: 270vh;
    max-width: 22vw;
    object-fit: cover;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
}