:root{
    --bg-color:#080808;
    --second-bg-color:#1d0000;
    --text-color:#ffff;
    --main-color:#f60b0b;
}
/*Service*/
.services{
    background: var(--bg-color);
    color: black;
}
.services h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius:3rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}
.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}
.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}
.service-info i{
    font-size: 8rem;
}